<h3>
    {{leyenda}}</h3>
<div class="input-group">

    <span class="input-group-btn">

                <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)"><i class="mdi mdi-minus"></i></button>
                
              </span>

    <input type="number" #txtProgress max="100" min="0" (ngModelChange)="onChange($event)" class="form-control" name="porcentaje" [(ngModel)]="porcentaje">

    <span class="input-group-btn">

                <button class="btn btn-primary" type="button" (click)="cambiarValor(5)"><i class="mdi mdi-plus"></i></button>
                
              </span>


</div>